doctype html

html 
    head 
        link(rel="stylesheet", href=" ./src/views/style.css")
        title= Overview 
    body 
        h1= title
        h2= `By ${author}`
        h3= `Publisher: ${publisher}`
        h3= `Year: ${year}`  
        h3= `${pages} pages` 
        
